<div class="container">
  <div class="row">
    <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "col s12") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "validate" %>
        <%= f.label :email %>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <%= f.password_field :password, class: "validate" %>
        <%= f.label :password %>
      </div>
      <% if devise_mapping.rememberable? %>
        <p>
          <label id="form-checkbox">
            <%= f.check_box :remember_me, class: "filled-in" %>
            <span>ログインを記憶</span>
          </label>
        </p>
      <% end %>
      <%= f.submit "ログイン", class: "btn waves-effect waves-light blue lighten-1" %>
    <% end %>
  </div>
</div>
