<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <span id="top-icon">
      <%= image_tag 'top_arrow.png', height: '50' %>
    </span>
  </body>
  <%= javascript_pack_tag 'application' %>
</html>
